html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-size: 36px;
    color: var(--font-color);
}

:root {
    --font-color: #05668DFF;
    --button-font-color: #F0F3BDFF;
}

body {
    margin-left: 31px;
    margin-right: 31px;
    background-color: var(--button-font-color);
}

/* Text */

h1 {
    font-size: 36px;
}

.location {
    font-family: "Roboto Condensed", sans-serif;
}

.bold-text {
    font-weight: 800;
}

.normal-text {
    font-weight: 400;
}

/* Buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 135px;
    height: 37px;
    background-color: #028090FF;
    color: var(--button-font-color);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #02C39A;
}

.btn:active {
    transform: scale(0.9);
}

/* Data */
.data {
    font-family: "Roboto Condensed", sans-serif;
    display: grid;
    grid-template-columns: auto 0.7fr;
    grid-template-rows: 0.5fr 1fr;
    /* gap: 10px; */
    background-color: #00A896;
    color: var(--button-font-color);
    height: 150px;
    border-radius: 20px;
    margin-bottom: 23px;
    box-shadow: 5px 5px 5px #028090;
}

.parameter {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    font-size: 24px;
}

.value, .unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px 5px 5px;
    font-size: 72px;
}

.unit {
    display: flex;
    justify-content: center;
}

.pressure {
    font-size: 24px;
}